.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.explore-menu h1 {
    color: var(--primary-color);
}

.explore-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 20px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list .active {
    border: 3px solid #BF6B21;
}

.explore-menu-item {
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    width: 140px;
    height: 170px;
    cursor: pointer;
    color: var(--light-blue);
    border: 3px solid transparent;
    transition: border 0.2s ease;
    padding-bottom: 10px;
}


.explore-menu-item:hover {
    border: 3px solid #BF6B21;
}

.explore-menu-item img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    object-fit: cover;
}