.hero{
    position: relative;}

.hero .banner{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 32px;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 99.4%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
    backdrop-filter: blur(2px);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 20px;
}


.hero-content{
    position: absolute;
     display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 50%;
    bottom: 10%;
    left:3vw; 
    animation: fadeIn 3s;
    z-index: 2;
}

.hero-content h2{
    font-weight: 500;
    color: white;
    font-size: max(5vw,22px);
    font-family:  Italiana 
}

.hero-content p{
    color:white;
    font-size: 1.3vw;
    font-family: Italiana
}

.hero-content button{
    border:none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw; 
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

.hero-content button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}